---
layout: 'base.html'
preloadCSS: '/css/blog.css'
eleventyComputed:
    description: '{{ blogDescription }}'
    metaTitle: '{{ blogTitle }}'
    tagTitle: '{{ titleTag }}'
    preloadImg: '{{ image }}'
    permalink: '/inventory/{{ pageName | slug }}/index.html'
---

<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->

<section id="int-hero">
    {% image './src/images/lowshot.png', 'low photoshot of tires', '', 'lazy', '(max-width: 850px) 850px, 1920px'%}
</section>

<!-- ============================================ -->
<!--              Main Blog Content               -->
<!-- ============================================ -->

<div class="blog-container main-content-wrapper">
    <!--Main content -->
    <div class="main-content2">
        <h1 class="blog-h1">{{ wheelName }}</h1>
        <h1 class="blog-h1">{{ wheelPrice }}</h1>
        <h1 class="blog-h1">{{ condition }}</h1>
        <h1 class="blog-h1">{{ brand/model }}</h1>
        <h1 class="blog-h1">{{ boltPattern }}</h1>
        <h1 class="blog-h1">{{ front }}</h1>
        <h1 class="blog-h1">{{ rear }}</h1>
        <h1 class="blog-h1">{{ colorFace }}</h1>
        <!-- ============================================ -->
        <!--                  Blog Article                -->
        <!-- ============================================ -->

        <article class="blog-article">
            <!--Main Article Image-->
            <picture class="blog-mainImage">
                <img src="{{ image }}" alt="{{ imageAlt }}" width="795" height="400" decoding="async"/>
            </picture>
        </article>
    </div>
    <!-- End .main-content -->

</div>