---
layout: 'base.html'
preloadCSS: '/css/contact.css'
eleventyComputed:
    description: '{{ blogDescription }}'
    metaTitle: '{{ blogTitle }}'
    tagTitle: '{{ titleTag }}'
    preloadImg: '{{ image }}'
    permalink: '/inventory/{{ pageName | slug }}/index.html'
---

<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->

<!-- <section id="int-hero">
    {% image './src/images/lowshot.png', 'low photoshot of tires', '', 'lazy', '(max-width: 850px) 850px, 1920px'%}
</section>
<div class="blog-container main-content-wrapper">
    <section id="hero"></section>
    <div class="cs-content">
        <span class="cs-topper">Contact</span>
        <h2 class="cs-title">Get in Touch</h2>
    </div>
    <div class="main-content2">
        <h1 class="blog-h1">{{ wheelName }}</h1>
        <h1 class="blog-h1">{{ wheelPrice }}</h1>
        <h1 class="blog-h1">{{ condition }}</h1>
        <h1 class="blog-h1">{{ brand/model }}</h1>
        <h1 class="blog-h1">{{ boltPattern }}</h1>
        <h1 class="blog-h1">{{ front }}</h1>
        <h1 class="blog-h1">{{ rear }}</h1>
        <h1 class="blog-h1">{{ colorFace }}</h1>
        <article class="blog-article">
            <picture class="blog-mainImage">
                <img src="{{ image }}" alt="{{ imageAlt }}" width="795" height="400" decoding="async"/>
            </picture>
        </article>
    </div>
</div> -->

<section id="int-hero">
    <h1 id="home-h">{{ wheelName }}</h1>
    {% image './src/images/lowshot.png', 'cabinets', '', 'lazy', '(max-width: 850px) 850px, 1920px'%}
</section>

<!-- ============================================ -->
<!--                Contact Form                  -->
<!-- ============================================ -->

<section id="cs-contact">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Product Info</span>
            <h2 class="cs-title2">{{ wheelName }}</h2>
            <h2 class="cs-title2">Condition: {{ condition }}</h2>
            <h2 class="cs-title2">Brand/Model: {{ brandModel }}</h2>
            <h2 class="cs-title2">Bolt Pattern: {{ boltPattern }}</h2>
            <h2 class="cs-title2">Front: {{ front }}</h2>
            <h2 class="cs-title2">Rear: {{ rear }}</h2>
            <h2 class="cs-title2">Color Face: {{ colorFace }}</h2>
            <h2 class="cs-title2">Price: ${{ wheelPrice }}</h2>
            <a href="/contact" class="button-solid">Order Now!</a>
        </div>
    <div class="cs-right-section2">
        <img src="{{ image }}" alt="{{ imageAlt }}"  decoding="async"/>
        <a class="cs-link cs-padding" href="mailto:info@devilswerk.com">info@devilswerk.com</a>
    </div>
    </div>
</section>