/*-- -------------------------- -->
<---           Reviews          -->
<--- -------------------------- -*/
.main-color {
  color: #b80024;;
}

a {
  text-decoration: none;
}
/* Mobile */
@media only screen and (min-width: 0em) {
  #reviews {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin: auto;
  }
  #reviews h2 {
    font-size: var(--headerFontSize);
    text-align: center;
  }
  #reviews .container {
    width: 96%;
    max-width: 82.5rem;
  }
  #reviews .review {
    padding: 2.250rem 1.875rem 4.5rem 1.875rem;
    /* box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.05); */
    box-shadow: 10px 10px 20px rgb(0 0 0 / 20%);
    width: 100%;
    max-width: 35rem;
    margin: auto;
    margin-bottom: 5.5rem;
    border-radius: 0.3125rem;
    position: relative;
    background: #fff;
    display: flex;
    flex-direction: column;
    transform: scale(1.0);
    transition: transform 250ms ease-in-out 100ms;
  }

  #reviews .review:hover {
    transform: scale(1.1);
    transition: transform 250ms ease-in-out 100ms;
  }

  #reviews .review picture {
    background-color: #edb305;
    width: 5.15rem;
    height: 5.15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }

  #reviews .review picture img {
    width: 3em;
    height: 3em;
  }

  #reviews .review h3 {
    font-size: 1.5rem;
    padding-top: 0.850rem;
    padding-bottom: 0.850rem;
  }

  /* #reviews .review:last-of-type {
    margin-bottom: 0;
  } */

  #reviews .review p {
    line-height: 1.33333333;
    text-align: left;
  }

}
/* Tablet */
@media only screen and (min-width: 48em) {
  #reviews {
    padding-top: 3rem;
    padding-bottom: 0rem;
    gap: 1.75rem;
  }
  #reviews .container {
    font-size: min(1.4vw, 1em);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
    column-gap: 2.875rem;
  }
  #reviews .review {
    margin: 0;
    margin-bottom: 5.5rem;
    width: 560px;
    height: 344.58px;
  }

  #reviews .review:last-of-type {
    margin-bottom: 4.5rem;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0em) {
  body.dark-mode #reviews .review {
    background: var(--medium);
  }
  body.dark-mode #reviews .review .name {
    color: #fff;
  }
  body.dark-mode #reviews .review .desc {
    color: #fff;
    opacity: .7;
  }
}
/*-- -------------------------- -->
<---    Final Call To Action    -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0em) {
  #cta {
    position: relative;
    padding: 3.125rem 0;
  }
  #cta:before {
    content: '';
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background: #000;
    opacity: .7;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #cta .container {
    text-align: center;
  }
  #cta picture {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -2;
  }
  #cta picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  #cta .title {
    font-weight: 900;
    font-size: min(9vw, 3rem);
    line-height: 1.20833333;
    color: #fff;
    position: relative;
    margin-bottom: 2.25rem;
    text-align: center;
  }
  #cta p {
    color: #fff;
    text-align: center;
    opacity: 1;
    margin: auto;
    margin-bottom: 2.25rem;
    width: 96%;
    max-width: 37.375rem;
  }
}
/* Small Desktop */
@media only screen and (min-width: 64em) {
  #reviews {
    padding-top: 6rem;
  }

  #cta {
    padding: 10.5rem 0;
  }
}
/* Large Desktop */
@media only screen and (min-width: 1300px) {
  #cta {
    position: relative;
  }
  #cta:before {
    display: none;
  }
  #cta:after {
    content: '';
    position: absolute;
    display: block;
    height: 69.25rem;
    width: 125rem;
    background: url("/assets/svgs/cta-squares.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -3;
  }
  #cta .container {
    width: 90.0625%;
    margin: auto;
  }
  #cta picture {
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
  #cta picture:before {
    content: '';
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background: #000;
    opacity: .7;
    top: 0;
    left: 0;
    z-index: 1;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0em) {
  body.dark-mode #cta:after {
    display: none;
  }

  body.dark-mode #reviews .review picture {
    background: #edb305;
  }
}
